# Joss' personal alias's
alias bashrc='code ~/.bashrc'
alias dev='cd ~/dev'
alias lux='cd ~/dev/luxgroup/'
alias blog='cd ~/dev/joshuapaling_blog_2015 && code .'
alias dotfiles='code ~/dev/dotfiles/'
alias j='$(fc -ln -1)' # re-run the last command (eg last test suite)

# Docker shortcuts
alias dockerc="docker-compose"
alias dockerm="docker-machine"
alias dockerr="docker-compose down && docker-compose up -d && docker-compose ps && docker-compose logs -f"
alias dockercb="docker-compose build --no-cache"

# Git tower - walk up folder heirarchy to first git repo and open it in tower:
alias gt="gittower `git rev-parse --show-toplevel`"