init-author-name=Joshua Paling
init-author-email=joshua.paling@gmail.com
init-author-url=http://joshuapaling.com/
init-license=MIT
save-exact=true

# $HOME/.secrets defines $NPM_TOKEN
source $HOME/.secrets
//registry.npmjs.org/:_authToken=$NPM_TOKEN
save-prefix=
