//registry.npmjs.org/:_authToken=79b033a3-d5eb-41d8-ad77-63bc609d06ac
init-author-name=Joshua Paling
init-author-email=joshua.paling@gmail.com
init-author-url=http://joshuapaling.com/
init-license=MIT
save-exact=true
