//registry.npmjs.org/:_authToken=f751d180-0c43-496d-8eb5-a962961c3703
init-author-name=Joshua Paling
init-author-email=joshua.paling@gmail.com
init-author-url=http://joshuapaling.com/
init-license=MIT
save-exact=true
